    <!-- Address -->
    <section class="container-fluid" id="AddressIndexSection">
        <div class="row ">
            <div class="col-lg-6">
                <div class="mr-5">
                    <address class="mt-4">
                        آدرس کارگاه: تهران، چهار راه فلان، خیابان سوم، کوچه دوم ، ساختمان اول
                    </address>
                    <address>آدرس نمایشگاه: تهران، چهار راه فلان، خیابان سوم، کوچه دوم، ساختمان اول</address>
                    <br>
                    <p class=""> شماره تماس کارگاه: ۰۲۱۲۲۳۳۴۴</p>
                    <p>شماره تماس نمایشگاه: ۰۲۱۲۲۳۳۴۴</p>
                    <br>
                    <p>پیشنهادات : ایمیل</p>
                </div>
            </div>
            <div class="col mapSection">
                <div id="map" class="map" style="width: 100%; height:598px;"></div>
            </div>
        </div>
    </section>

