   <footer class="client-index-footer">
        <!-- <div class="the-top-arrow-section">
            <i class="fa fa-arrow-circle-up fa-3x"></i>
        </div> -->
        <div class="top row">
            <div class="right col-md-4">
                <div class="d-flex flex-column">
                    <a href="#">صفحه اصلی</a>
                    <a href="#">محصولات</a>
                    <a href="#">درباره ما</a>
                    <a href="#">تماس با ما</a>
                </div>
            </div>
            <div class="middle col-md-4">
                <div>
                    <a href="#"><i class="fa fa-telegram fa-2x mt-2"></i></a>
                    <a href="#" class="mr-1"><i class="fa fa-instagram fa-2x"></i></a>
                </div>
            </div>
            <div class="left col-md-4">
                <div>
                    <a href="#"><i class="fa fa-phone-square fa-2x"></i></a>
                    <p>تلفن پتیبانی: ۲۲۴۴۸۸۶۶</p>
                    <p>تلفن همراه: ۰۹۱۱۱۱۱</p>
                    <p>ایمیل : charmmehregan@example.com</p>
                </div>
            </div>
        </div>
        <div class="bottom">
            <p><span>طراحی شده توسط </span><a href="#">آی‌میون</a>| تمامی حقوق این وبسایت محفوظ می‌باشد و پیگرد قانوند
                دارد</p>
        </div>
    </footer>