<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="{{ 'assets/css/style.css' | theme }}">
<link rel="stylesheet" href="{{ 'assets/css/bootstrap-rtl.css'| theme }}" type="text/css">
<script src="https://addmap.parsijoo.ir/leaflet/leaflet.js"></script>
<link rel="stylesheet" href="https://addmap.parsijoo.ir/leaflet/leaflet.css" />
<title>شهرام سایت</title>

