<nav class="navbar navbar-expand-md d-flex align-items-center">
    <a class="navbar-brand position-relative" href="#">
        چرم مهرگان
        <img src="{{ 'assets/images/Logo.png'|theme }}" class="brand-image" alt="">
    </a>
    <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mt-0">
            {% if this.page.id == 'home' %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ 'home'| page }}">
                        صفحه اول</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ 'home'| page }}">
                        صفحه اول</a>
                </li>
            {% endif %}

            {% if this.page.id == 'products' %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ 'products'| page }}">محصولات</a>
                </li>
            {% else %}
                <li class="nav-item ">
                    <a class="nav-link" href="{{ 'products'| page }}">محصولات</a>
                </li>
            {% endif %}

            {% if this.page.id == 'about-us' %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ 'about-us'| page }}">درباره ما</a>
                </li>
            {% else %}
                <li class="nav-item ">
                    <a class="nav-link" href="{{ 'about-us'| page }}">درباره ما</a>
                </li>
            {% endif %}

            {% if this.page.id == 'contact-us' %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ 'contact-us'| page }}">تماس با ما</a>
                </li>
            {% else %}
                <li class="nav-item ">
                    <a class="nav-link" href="{{ 'contact-us'| page }}">تماس با ما</a>
                </li>
            {% endif %}

        </ul>
    </div>
</nav>