description = "Default layout"
==
<html lang="en">
    <head>
    {% partial 'site/head' %}
    {% placeholder head %}
    {% styles %}
    </head>
<body>
    {% partial 'site/navbar' %}

    {% page %}
    
    {% partial 'site/footer'%}
</body>

</html>

<script src="{{ 'assets/js/app.js' | theme }}"></script>
<script src="{{ 'assets/js/combined.js' | theme }}"></script>