title = "درباره ما"
url = "/about-us"
layout = "default"
description = "درباره ما"
is_hidden = 0
==
<!-- First Section -->
    <section class="products-section-1">
        <h4>درباره ما</h4>
        <h6>تولیدی چرم گاو چرم مهرگان</h6>
    </section>

    <!-- About Section 2 -->
    <section class="about-section-2 container-fluid my-5">
        <div>
            <h6>درباره ما</h6>
            <p class="text-justify">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه
                درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای
                طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان
                امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل
                حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
            <p>با مدیریت : آقای اسماعیل</p>
        </div>
    </section>


    <!-- Address -->
    <section class="container-fluid" id="AddressIndexSection">
        <div class="row ">
            <div class="col-lg-6">
                <div class="mr-5">
                    <address class="mt-4">
                        آدرس کارگاه: تهران، چهار راه فلان، خیابان سوم، کوچه دوم ، ساختمان اول
                    </address>
                    <address>آدرس نمایشگاه: تهران، چهار راه فلان، خیابان سوم، کوچه دوم، ساختمان اول</address>
                    <br>
                    <p class=""> شماره تماس کارگاه: ۰۲۱۲۲۳۳۴۴</p>
                    <p>شماره تماس نمایشگاه: ۰۲۱۲۲۳۳۴۴</p>
                    <br>
                    <p>پیشنهادات : ایمیل</p>
                </div>
            </div>
            <div class="col mapSection">
                <div id="map" class="map" style="width: 100%; height:598px;"></div>
            </div>
        </div>
    </section>