title = "تماس با ما"
url = "/contact-us"
layout = "default"
description = "صفحه ارتباط با ما"
meta_title = "ارتباط با ما"
meta_description = "در این صفحه شما به راحتی میتوانید تمام راه هایی که با ما صحبت کنید متوحه شوید"
is_hidden = 0
==
<section class="products-section-1">
        <h4>تماس با ما</h4>
        <h6>اطلاعات تماس شرکت چرم مهرگان</h6>
    </section>


    <section class="my-5 container-fluid contact-section-1">
        <div>
            <h6>اطلاعات تماس</h6>
            <p>مشتریان عزیز از طریق یکی از روش‌های زیر می‌توانند با بخش پشتیبانی شرکت تماس بگیرند:</p>
            <p>شماره پشتیبانی: ۲۲</p>
            <p>ایمیل: test@example.com</p>
            <p>همچنین در صورت انتقاد و پیشنهاد از طریق زیر میتوانید نظرات خود را به ما برسانید:</p>
            <p>شماره تماس بخش انتقادات: ۲۲</p>
        </div>

    </section>