title = "صفحه اصلی"
url = "/"
layout = "default"
description = "چرم مهرگان"
meta_title = "چرم مهرگان"
meta_description = "فروش انواع محصولات چرمی"
is_hidden = 0
==
<?php
use Mahdi\Products\Models\Product;
use Mahdi\Products\Models\Atributie;
use Mahdi\Products\Models\Slide;
function onStart(){
    $this['products'] = Product::orderBy('created_at')->take(3)->get();;
    $this['slides']= Slide::take(5)->get();
}
?>
==
{# {{ dump(slides) }} #}
<!-- Slider -->

    <section id="carouselMainFade" class="carousel position-relative slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
        {% for slide in slides %}
            <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                <img class="d-block w-100" src="{{ slide.img.getPath() }}" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <div class="data-section">
                        <ul class="items">
                        {% for attribute in slide.atributies %}
                            <li>{{ attribute.title }}</li>
                        {% else %}
                            <li>اطلاعاتی در دسترس نیست</li>
                        {% endfor %}
                        </ul>
                        <a href="#" class="btn btn-color1 mr-3">مشاهده محصول</a>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="carousel-item active">
                <img class="d-block w-100" src="{{ 'assets/images/slide_1.jpg'| theme }}" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <div class="data-section">
                        <ul class="items">
                            <li>زیبا</li>
                            <li>باکیفیت</li>
                            <li>قیمت مناسب</li>
                        </ul>
                        <a href="#" class="btn btn-color1 mr-3">مشاهده محصول</a>
                    </div>
                </div>
            </div>
            
        {% endfor %}
        </div>
        <a class="my-carousel-control-prev position-absolute" href="#carouselMainFade" role="button" data-slide="prev">
            <span class="fa fa-2x fa-angle-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="my-carousel-control-next position-absolute" href="#carouselMainFade" role="button" data-slide="next">
            <span class="fa fa-2x fa-angle-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </section>

    <div class="last-production-hr mt-4">
        <h4>آخرین محصولات</h4>
    </div>

    <!-- Products -->
    <section class="container-fluid mt-4" id="ProductsIntroduceSection">
        <div class="row items">
            {% for product in products %}
            <div class="col-md-4 px-1 item">
                <img src="{{ 'assets/images/photo_2017-12-06_22-27-18.jpg'| theme }}" class="img-fluid" alt="">
                <div class="description">
                    <p class="mt-2">کد محصول: {{ product.code }}</p>
                    <br>
                    <p>جنس: {{ product.material }}</p>
                    <p>مناسب برای: 
                    {% if product.gender == 0 %}
                            <p class="mb-3">مناسب برای: زنان و مردان</p>
                    {% elseif product.gender == 1 %}
                            <p class="mb-3">مناسب برای: مردان</p>
                    {% elseif product.gender == 2 %}
                            <p class="mb-3">مناسب برای: زنان</p>
                    {% endif %}
                    </p>
                    <div class="d-flex justify-content-center m-3 mt-lg-4">
                        <a href="#" class="btn btn-color1 mx">مشاهده محصول</a>
                    </div>
                </div>
            </div>      
            {% endfor %}

        </div>
    </section>

    <div class="d-flex justify-content-center my-4">
        <a href="#" class="btn btn-color1 btn-lg px-5">مشاهده تمامی محصولات</a>
    </div>

    <div class="bg-color1 mx-5">
        &nbsp;
    </div>
    
    {% partial 'site/address' %}
