title = "products-test" 
url = "/products-test/:page?"
layout = "default"
is_hidden = 0 
[builderList] 
modelClass = "Mahdi\Products\Models\Product" 
scope = "-"
scopeValue = "{{ :scope }}" 
displayColumn = "image" 
noRecordsMessage = "No records found" 
detailsPage = "-" 
detailsUrlParameter = "id" 
pageNumber = "{{ :page }}" 
==

<?
use Mahdi\Products\Models\Product;
function onStart(){
    $this['products'] = Product::paginate(2);
}
?>

==
<section class="products-section-1">
    <h4>محصولات چرم مهرگان</h4>
    <h6>زیبایی، کیفیت، قیمتی مناسب</h6>
</section>
<section class="products-section-2 d-flex justify-content-center my-3">
    <div class="d-flex">
        <a href="#" class="active">همه</a>
        <a href="#">کفش</a>
        <a href="#">کیف</a>
        <a href="#">کت</a>
        <a href="#">کاپشن</a>
    </div>
</section>

<!-- Products -->
<section class="products-section-3 container-fluid">
    <div class="row products">
    {% for product in products %}
        <div class="col-md-4 section">
            <div class="product">
                <img src="{{ product.image.path }}" class="img-fluid" alt="">
                <button class="bottom-btn">{{ product.title }}</button>
                <div class="description w-100">
                    <h4>{{ product.title }}</h4>
                    <p>کد محصول: {{ product.code }}</p>
                    <p>جنس: {{ product.material }}</p>
                    {% set gender = product.gender %}
                    {% if gender == 0 %}
                            <p class="mb-3">مناسب برای: زنان و مردان</p>
                    {% elseif gender == 1 %}
                            <p class="mb-3">مناسب برای: مردان</p>
                    {% elseif gender == 2 %}
                            <p class="mb-3">مناسب برای: زنان</p>
                    {% endif %}
                    
                    <p>{{ product.description }}
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</section>

{# <div class="d-flex justify-content-center mt-3 mb-3">
    <button class="btn btn-color1 ">نمیایش محصولات بیشتر</button>
</div> #}


{# {{ products.render|raw }} #}


<style>
.btn.btn-color1.btn-radious-left-0{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.btn.btn-color1.btn-radious-right-0{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
</style>

<section class="container d-flex justify-content-center mb-4">
    {% if products.hasMorePages() %}
        <a href="{{ products.nextPageUrl() }}" class="btn btn-color1 btn-radious-left-0">صفحه بعد</a>
    {% else %}
        <a href="{{ products.nextPageUrl() }}" class="btn btn-color1 btn-radious-left-0 disabled">صفحه بعد</a>
    {% endif %}
    {% if products.currentPage() != 1 %}
        <a href="{{ products.previousPageUrl() }}" class="btn btn-color1 btn-radious-right-0">صفحه قبل</a>
    {% else %}
        <a href="{{ products.previousPageUrl() }}" class="btn btn-color1 btn-radious-right-0 disabled">صفحه قبل</a>
    {% endif %}
    
    <a href="{{ products.nextPage() }}">{{ products.nextPage() }}</a>
</section>